html
  head
    meta(charset='utf-8')
    title Portfolio
    meta(name='description' content='Adam\'s portfolio')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./custom.scss')
  body
    .main
      .jumbotron
        h1.display-4 Adam's Portfolio
        p.lead If you're here you've either stumbled accidently across this page or maybe thinking of hiring me. :)
        hr.my-4
      template#test-template-template
        p
          slot(name='template-text') This is inside my test template
      template#card-template-template
        .col-xs-12.col-md-4.col-xl-3
          .card
            .card-body
              img.card-img-top
              h5.card-title
                slot(name='title') Default title
              p.card-text
                slot(name='description') Default description
              a.btn.btn-primary(href='#') Some default link
block content
      .source-link Source available at 
        a(href='https://github.com/aakoch/portfolio') github.com/aakoch/portfolio
      script(src='./index.js' type="module")
