mixin card(title, description, buttonLink='#', buttonText, imgSrc)
  .col-xs-12.col-md-4.col-xl-3
    .card
      if imgSrc
        img.card-img-top.img-thumbnail(src=imgSrc)
      .card-body
        h5.card-title= title
        p.card-text!= description
        a.card-link(href=buttonLink)= buttonText