@import "~bootstrap/scss/_functions";

// Your variable overrides
// // $body-color: #b87866;
$primary: #385D6B;
// $secondary: #00afb9;

// // $dark: #263d42;
// $light: #fdfcdc;

// // $danger: #f07167;

$body-bg: $primary;
$light: #fffff3;

// $link-color: $danger;
// $link-hover-color: mix($dark, $secondary, 10%);

@import "~bootstrap/scss/_variables";

@import "~bootstrap/scss/_mixins";

.main {
  margin: 1em;
  padding: 1em;
  border-radius: 1rem;  
  background-color: $light;
}

.jumbotron {
  padding: 1rem 1rem .2rem;
  margin: 1rem;
  border-radius: 1rem;  
}

.source-link {
  @extend .text-end;
  font-size: .8em;
}

@import "~bootstrap/scss/bootstrap";