extends base.pug
include card.pug

block content
  .container
    h1= title
    .row.g-5
      +card('Punch Dad', 'A small (and old) iOS <abbr title="Proof of concept">POC</abbr>', 'https://github.com/aakoch/PunchDad', 'Github project', 'https://github.com/aakoch/PunchDad/blob/master/PunchDad/Assets.xcassets/angry_adam.imageset/angry_adam.jpg?raw=true', 0)
        | This project was only ever deployed to my personal phone, but was actually used by my children as something to do while we waited at some event.
      +card('Scoutbook Buddy', 'A Chrome plugin for use on scoutbook.com', 'https://github.com/aakoch/scoutbook-buddy', 'Github project', 'https://github.com/aakoch/scoutbook-buddy/raw/master/src/icons/icon_64.png?raw=true', 1)
      +card('Robo Car', 'A self-driving RC card', 'https://github.com/aakoch/robocar', 'Github project', '', 2)
      +card('Learning Record Store', 'My short-lived foray into the education realm', 'https://github.com/aakoch/lrs', 'Github project', '', 3)
      +card('Troop 308 Website', 'A website I created while my son was in scouts', 'https://www.troop308omaha.com/', 'Website', 'https://www.troop308omaha.com/wp-content/uploads/2019/09/header@2x.png', 4)
      +card('3D modeling', '3D CAD in TinkerCAD and then Fusion 360', 'https://www.thingiverse.com/aakoch/', 'Posted designs', '', 5)

  