{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row g-5">

{% macro field(title, description='', buttonLink='', buttonText='', imgSrc='') %}

      <div class="col-xs-12 col-md-4 col-xl-3">
        <div class="card">
          <div class="card-body">
          {% if imgSrc %}
          <img class="card-img-top" src="{{ imgSrc }}">
          {% endif %}
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ description }}</p>
            <a href="{{ buttonLink }}" class="btn btn-primary">{{ buttonText }}</a>
          </div>
        </div>
      </div>

{% endmacro %}
      
{{ field('Punch Dad', 'A small (and old) iOS POC', 'https://github.com/aakoch/PunchDad', 'Github project') }}
      
{{ field('Scoutbook Buddy', 'A Chrome plugin for use on scoutbook.com', 'https://github.com/aakoch/scoutbook-buddy', 'Github project', 'https://github.com/aakoch/scoutbook-buddy/raw/master/src/icons/icon_64.png?raw=true') }}

{{ field('Robo Car', 'A self-driving RC card', 'https://github.com/aakoch/robocar', 'Github project') }}

{{ field('Learning Record Store', 'My short-lived foray into the education realm', 'https://github.com/aakoch/lrs-api', 'Github project') }}

{{ field('Troop 308 Website', 'My short-lived into the education realm', 'https://www.troop308omaha.com/', 'Website') }}

<test-template>
<span slot="template-text">Ha ha!</span></test-template>


  <card-template>
    <span slot="title">Card title</span>
    <span slot="description">Card description</span>
  </card-template>

    </div>
  </div>
{% endblock %}