extends base.pug
include card.pug

block content
  .container
    h1= title
    .row.g-5
      +card('Punch Dad', 'A small (and old) iOS <abbr title="Proof of concept">POC</abbr>', 'https://github.com/aakoch/PunchDad', 'Github project', 'https://github.com/aakoch/PunchDad/blob/master/PunchDad/Assets.xcassets/angry_adam.imageset/angry_adam.jpg?raw=true', 0)
        | This project was only ever deployed to my personal phone, but was actually used by my children as something to do while we waited at some event.
      +card('Scoutbook Buddy', 'A Chrome plugin for use on scoutbook.com', 'https://github.com/aakoch/scoutbook-buddy', 'Github project', 'https://github.com/aakoch/scoutbook-buddy/raw/master/src/icons/icon_64.png?raw=true', 1)
      +card('Robo Car', 'A self-driving RC car', 'https://www.adamkoch.com/tag/robocar/', 'Blog posts', '', 2)
        | This project took a hiatis when my wife made me pull up the blue tape going through our kitchen. Code is at <a href="https://github.com/aakoch/robocar">Github</a>
      +card('Learning Record Store', 'My short-lived foray into the education realm', 'https://github.com/aakoch/lrs', 'Github project', '', 3)
      +card('Troop 308 Website', 'A website I created while my son was in scouts', 'https://www.troop308omaha.com/', 'Website', 'https://www.troop308omaha.com/wp-content/uploads/2019/09/header@2x.png', 4)
      +card('Troop 308 A-Words', 'Weekly newsletter', 'https://www.troop308omaha.com/', 'Link', 'https://www.troop308omaha.com/wp-content/uploads/2019/09/header@2x.png', 5)
        include awords.html
      +card('3D modeling', '3D CAD in TinkerCAD and then Fusion 360', 'https://www.thingiverse.com/aakoch/', 'Posted designs', '', 6)
      +card('In a meeting', 'Work in progress: display whether or not I\'m in a meeting on my Moddable 2 device', 'https://github.com/aakoch/in-a-meeting', 'Github project', '', 7)
      +card('Vector Images', 'https://pixabay.com/users/aakoch-4434016/', 'https://pixabay.com/users/aakoch-4434016/', 'Posted Images', 8)